.home {
  padding-top: 4rem;
  .selected-projects {
    color: $font-color;
  }
  ul.slider-list{
    background-color: $slide-color;
  }
  .name {
    padding-top: 2rem;
    margin-left: 7rem;
  }
}
